.developer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;

}
.developer__title,
.developer__logo {
  display: block;
}

.developer__title {
  @include plaint-text;
  font-size: 1.14em;
  line-height: 1.31em;
}