.main-header * {
  @include lineout(magenta);
}

.main-header__nav {
  display: flex;
  flex-direction: column;
}

.main-header__nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $color-3;

  &:nth-child(1){
    height: 66px;
  }
}
.main-header__nav-iterm-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
}

.main-header__button {
  width: 24px;
  height: 18px;
  background-color: transparent;
  background-image: url("../img/burger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;

}

.main-header__button_clicked {
  background-image: url("../img/icon-cross.svg");
}

