.mechanism {
  margin-bottom: 20px;
}
.mechanism * {
  @include lineout(royalblue);
}

.mechanism__title{
  @include title-text;
  font-size: 2.57em; 
  line-height: 1.1em;
  padding-top: 7px;
  padding-bottom: 17px;
  margin-bottom: 20px;
}

.mechanism__steps {
  margin-bottom: 20px;
}
.mechanism__step {
  
  position: relative;
  padding-top: 3px;
  margin-left: 80px;
  margin-bottom: 20px;
  min-height: 60px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: red;
    background-image: url("../img/icon-leaf.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
  }
}

.mechanism__step:nth-child(2)::before {
  background-image: url("../img/icon-tub.svg");
}

.mechanism__step:nth-child(3)::before {
  background-image: url("../img/icon-eat.svg");
}

.mechanism__step:nth-child(4)::before {
  background-image: url("../img/icon-alarm.svg");
}