@mixin lineout ($color: darkorange){
	outline: 1px dashed $color;
	outline-offset: -1px;

}

@mixin title-text {
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 400;
  font-style: normal;
	font-size: 1.25em;
	line-height: 1em;
}


@mixin button-text {
  @include title-text;
  text-transform: uppercase;
}

@mixin plaint-text {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29em;
	color: #444444;
  // padding: 0;
}